[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pprint = "*"
pylint = "*"

[packages]
alembic = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pygithub = "*"
atlassian-python-api = "*"

[requires]
python_version = "3"
